<div class="container">
  <app-cabecera></app-cabecera>
  <router-outlet></router-outlet>
</div>


<hr>
<div  class="container, gris" role="document">
  <div  class="container">
    <h1>Switch</h1>
      <p>Escribe:'Windows','Mac' o 'Linux' </p>
    <ul [ngSwitch]="so ">
      <li *ngSwitchCase="'Windows'">El que usan todos</li>
      <li *ngSwitchCase="'Mac'">Los que les gusta lo bonito, tienen pasta</li>
      <li *ngSwitchCase="'Linux'">Programador de siempre</li>
      <li *ngSwitchDefault>Indica un S.O.</li>
    </ul>
  </div>
<input  type="text" [(ngModel)]="so"/><!--declarado en .ts como una variable tipo string-->
</div>

<!---------------------------------------------------------------------------------------------------------->
<div class="content" role="main">

  <!--boton creado con efecto click mas la condcion para oculatar-->
<button (click)="condicion = !condicion" >MOSTRAR</button><!--la varible condicion en la hoja ,ts es un bolenano-->
<!--si la condiciones verdarera oculta(empieza como verdadera) si ys i es diferente a su condicion se mueestra-->
<p>Valor del boton que oculta: {{condicion}}</p><!--muestra lo que contiene la variable condicion-->

<!--ng  template = Las variables de plantilla le ayudan a utilizar datos de una parte de una plantilla en otra parte de la plantilla-->
<ng-template #textoalternativo> Seguro que quieres desplegarlo?</ng-template>
  <!--este template muestra el texto cundo entra el else-->

<!--cunado se hace click en el boton el div de abajo entra en juego cambiando el hidden a ver o no ver-->
<!--ngIf es una directiva estructural que incluye condicionalmente una plantilla basada en el valor de una expresión forzada a booleana-->
<div *ngIf="condicion ; else textoalternativo"  class="card highlight-card card-small">
<!--este ngIf else se comporta como if normal-->

    <svg id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33" d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z" transform="translate(0.371 3.363)" fill="#fff"/>
          <path id="Path_34" data-name="Path 34" d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z" transform="translate(0 0.005)" fill="#fff"/>
        </g>
      </g>
    </svg>

    <span>{{ title }} </span><!--aquí muestra lo que contienen title en la hoja .ts-->
    <app-random></app-random>
  </div>

  <!-- Resources -->
<app-colores></app-colores><!--convovar el componente colores-->
<app-colores></app-colores>

<h2>[ngStyle] y [ngClass] </h2>
<!--()eventos []propiedades-->
<!--[ngStyle] es como style para darle estilo-->
<div [ngStyle]="{'background-color':'red'}"  > Hola mundo</div>
<!--[ngStyle] se le puede dar un poc de logica, pudes poner color? (si color no esta definido ponme rojo)-->
<br><div [ngStyle]="{'background':color? color:'red'}"  > Hola mundo2</div>
<!--por defecto sale rojo-->
<br>
<div class="container">
<!--variable color definida en .ts-->
<!--cabina el estilo en el html-->
   <button class="button primary" (click)="color = 'green'">hola mundo 2 grenn?</button>
  <button class="button error" (click)="color = 'red'">hola mundo 2 rojo?</button>
  <button class="button dark" (click)="color = 'black'">hola mundo 2 negro?</button>

</div>

<!--Cambiando las clases COMO DEBE SER sin poner style dentro-->
<div class="container">
  <!--cambio de clase-->
    <!--cuando clicas al boton le cambia al div el background en el propio html-->
        <!--(pudes aplicar logica a todo/ si el div cambia a amarillo entonces cambia la clase del boton a amarillo (clase en app.componet.css))-->
  <button class="button icon-only" (click)="color = 'yellow'" [ngClass]="{'activeyellow': color == 'yellow'}">hola mundo 2 amarillo?</button>
  <button  class="button icon-only" (click)="color = 'blue'" [ngClass]="{'activeblue': color == 'blue'}">hola mundo 2 azul?</button>
 <button class="button icon-only " (click)="color = 'pink'"  [ngClass]="{'activepink': color == 'pink'}">hola mundo 2 rosa?</button>
</div>

<br>
<h2>ngFor y ngIf</h2>
<!--ng for-->
<div class="container">
  <!--ver app.compo.ts-->
  <ul>
    <!--*ngFor = (* = todos) actua sobre todos los elementos del array-->
    <li *ngFor= "let libro of biblioteca">{{libro}}</li><!--esribime libro , para representarlo siempre entre {{}}-->
    <!--recorre el array biblioteca y almacena en let libro -->
  </ul>

  <p>Si tenemos una array multidimensional</p>
    <ul>
      <!--Si lo hacemos igual que arriba escribe en html <object>-->
      <br><li *ngFor="let libro of arrayMulti">Titulo: {{libro.Titulo}}</li><!--solo escribe los titulos-->
      <br><li *ngFor="let libro of arrayMulti"><!--NO FUNCIONA-->{{libro.Titulo.autor}}No funciona</li><!--no se pude poner mas de una propiedad-->
      <br><li *ngFor="let libro of arrayMulti">Titulo: {{libro.Titulo}}, Autor: {{libro.autor}}</li>
     <!--ngFor puede crear indice, que no es el mismo que el id que pone en el array-->
      <br><li *ngFor="let libro of arrayMulti; index as indice; last as ultimo">
        {{indice}} - Titulo: {{libro.Titulo}}, Autor: {{libro.autor}} <span *ngIf="indice == 1"> #Best seller </span><span *ngIf="ultimo"> #Best ultimo </span></li>
        <!--If creame un span en el libro con el indice 1 (cuenta desde 0)-->  <!--If creame un span en el ultimo hijo-->
      <!--first = primero--><!--last = ultimo--><!--odd =pares--><!--even = impares-->  
 
      <br>  
       <h3>dinamismo y ver enrutados</h3>
      <li *ngFor="let libro of arrayMulti">
        <a href="https://www.google.com/search?q={{libro.Titulo}}"  rel = "nofollow" target="_blank">Titulo: {{libro.Titulo},</a><Span>redirecciona en otra pestaña  una busqueda dde google</Span>
        <!--puedes intercalar variables en una direccion htpp--> <!--target="_blank" en otra pestaña-->
      </li>
      <br>
      <li *ngFor="let libro of arrayMulti"><!--ver appp.compo-ts-->
        <a [ngStyle]="{'cursor':' pointer'}"(click)="mostrarAutor(libro)">Titulo: {{libro.Titulo}}</a><!--le pasamos el metodo creado por nosotros mostrarAutor() al compo.ts-->

      </li>
    </ul>
</div>

