.float-sm-right{
  color: #fff;
  background-color: #007bff;
  margin: 5px;
  text-align: center;
  padding: 0px 5px;
  border-radius: 14px;

  }

h6{
  margin-bottom: 0px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 2px 19px;
  background-color:transparent;
  border:0px;
}
svg{
  margin-right: 5px;
}